html, body {
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

.navbar {
    background-image: none;
    background-color: #F8EEE7;
    border: none;
    box-shadow: 0px 1px 5px #777; 
    -webkit-box-shadow: 0px 1px 5px #777; /* Safari and Chrome */
    -moz-box-shadow: 0px 1px 5px #777; /* Firefox */
    -ms-box-shadow: 0px 1px 5px #777; /* IE 9 */
    -o-box-shadow: 0px 1px 5px #777; /* Opera */
    margin: 0;
}

.navbar-header .navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #73503C;
    text-shadow: none;
    -webkit-text-shadow: all .2s ease; /* Safari and Chrome */
    -moz-text-shadow: all .2s ease; /* Firefox */
    -ms-text-shadow: all .2s ease; /* IE 9 */
    -o-text-shadow: all .2s ease; /* Opera */
    transition: all .5s ease;
    -webkit-transition: all .2s ease; /* Safari and Chrome */
    -moz-transition: all .2s ease; /* Firefox */
    -ms-transition: all .2s ease; /* IE 9 */
    -o-transition: all .2s ease; /* Opera */
}

.navbar-header .navbar-brand:hover {
    color: #73503C;
    transform: scale(1.1);
    -webkit-transform: scale(1.1); /* Safari and Chrome */
    -moz-transform: scale(1.1); /* Firefox */
    -ms-transform: scale(1.1); /* IE 9 */
    -o-transform: scale(1.1); /* Opera */
}

@media only screen and (max-width: 1024px) {
    .navbar-header .navbar-brand {
        font-size: 20px;
    }
}

.navbar-nav a {
    font-family: 'Satisfy', cursive;
    font-size: 25px;
}

@media only screen and (max-width: 1024px) {
    .navbar-nav a {
        font-size: 20px;
    }
}

.navbar-nav.navbar-center > .active > a {
    background-image: none;
    background-color: inherit;
    box-shadow: none;
    -webkit-box-shadow: none; /* Safari and Chrome */
    -moz-box-shadow: none; /* Firefox */
    -ms-box-shadow: none; /* IE 9 */
    -o-box-shadow: none; /* Opera */
}

.navbar-nav.navbar-center > .active > a:hover {
    background-color: inherit;
}

@media only screen and (min-width: 1024px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}

.nav.navbar-nav.navbar-center a,
.nav.navbar-nav.navbar-right a {
    color: #614333;
    text-shadow: none;
}

@media only screen and (min-width: 768px) {
    .nav.navbar-nav.navbar-center a,
    .nav.navbar-nav.navbar-right a {
        transition: all .5s ease;
        -webkit-transition: all .2s ease; /* Safari and Chrome */
        -moz-transition: all .2s ease; /* Firefox */
        -ms-transition: all .2s ease; /* IE 9 */
        -o-transition: all .2s ease; /* Opera */
    }

    .nav.navbar-nav.navbar-center a:hover,
    .nav.navbar-nav.navbar-right a:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1); /* Safari and Chrome */
        -moz-transform: scale(1.1); /* Firefox */
        -ms-transform: scale(1.1); /* IE 9 */
        -o-transform: scale(1.1); /* Opera */
    }
}

.nav.navbar-nav.navbar-center a:hover,
.nav.navbar-nav.navbar-right a:hover {
    color: #614333;
    text-shadow: none;
}

.nav.navbar-nav.navbar-right i {
    color: #614333;
    font-size: 20px;
}

@media only screen and (min-width: 768px) {
    .nav.navbar-nav.navbar-center .navbar-text {
        display: none;
    }

    .nav.navbar-nav.navbar-right .navbar-icon {
        display: inline-block;
    }
}

@media only screen and (max-width: 768px) {
    .nav.navbar-nav.navbar-center .navbar-text {
        display: block;
        margin: 0;
    }

    .nav.navbar-nav.navbar-right .navbar-icon {
        display: none;
    }
}
/*end navbar*/

.container {
    margin-top: 70px;
}

.panel.panel-default {
    border: 1px solid #f2e0d3;
    font-size: 15px;
    background-color: white;
    border-color: none;
}

.panel-default > .panel-heading {
    padding: 5px 15px;
    font-family: 'Satisfy', cursive;
    text-align: center;
    color: #614333;
    font-size: 25px;
    background-image: linear-gradient(to bottom,#F8EEE7 0,#f2e0d3 100%);
    background-image: -o-linear-gradient(to bottom,#F8EEE7 0,#f2e0d3 100%);
    background-image: -moz-linear-gradient(to bottom,#F8EEE7 0,#f2e0d3 100%);
    background-image: -webkit-linear-gradient(to bottom,#F8EEE7 0,#f2e0d3 100%);
    background-color: #F8EEE7;
    border: none;
}

.panel-default > .panel-body {
    padding: 10%;
}

.panel a {
   color: #614333;
   font-size: 20px;
}

textarea {
   resize: none;
}

.contacts {
    font-size: 15px;
    text-align: center;
}

.contacts h2 {
    font-family: 'Satisfy', cursive;
    color: #614333;
    font-size: 50px;
    margin-bottom: 20px;
}

.contacts strong {
    color: #614333;
}

.contacts a {
    color: inherit;
}

.contacts a:hover {
    text-decoration: none;
}

#footer {
    background-color: #F8EEE7;
}

#SocialMedia {
    text-align: center;
    margin-top: 20px;
}

#SocialMedia i {
    font-size: 40px;
    color: #614333;
    margin: 0px 10px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
}

#SocialMedia i:hover {
    color: #614333;
    transform:scale(1.25);
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
}

#Copyrights {
    color: #614333;
    text-align: center;
    margin-top: 20px;
}
