
/*Nav bar css*/
html, body {
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

.navbar {
    background-image: none;
    background-color: #F8EEE7;
    border: none;
    box-shadow: 0px 1px 5px #777; 
    -webkit-box-shadow: 0px 1px 5px #777; /* Safari and Chrome */
    -moz-box-shadow: 0px 1px 5px #777; /* Firefox */
    -ms-box-shadow: 0px 1px 5px #777; /* IE 9 */
    -o-box-shadow: 0px 1px 5px #777; /* Opera */
    margin: 0;
}

.navbar-header .navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #73503C;
     text-shadow: none;
    -webkit-text-shadow: all .2s ease; /* Safari and Chrome */
    -moz-text-shadow: all .2s ease; /* Firefox */
    -ms-text-shadow: all .2s ease; /* IE 9 */
    -o-text-shadow: all .2s ease; /* Opera */
    transition: all .5s ease;
    -webkit-transition: all .2s ease; /* Safari and Chrome */
    -moz-transition: all .2s ease; /* Firefox */
    -ms-transition: all .2s ease; /* IE 9 */
    -o-transition: all .2s ease; /* Opera */
}

.navbar-header .navbar-brand:hover {
    color: #73503C;
    transform: scale(1.1);
    -webkit-transform: scale(1.1); /* Safari and Chrome */
    -moz-transform: scale(1.1); /* Firefox */
    -ms-transform: scale(1.1); /* IE 9 */
    -o-transform: scale(1.1); /* Opera */
}

@media only screen and (max-width: 1024px) {
    .navbar-header .navbar-brand {
        font-size: 20px;
    }
}


.navbar-nav a {
    font-family: 'Satisfy', cursive;
    font-size: 30px;
}

@media only screen and (max-width: 1024px) {
    .navbar-nav a {
        font-size: 15px;
    }
}

.navbar-nav.navbar-center > .active > a {
    background-image: none;
    background-color: inherit;
    box-shadow: none;
    -webkit-box-shadow: none; /* Safari and Chrome */
    -moz-box-shadow: none; /* Firefox */
    -ms-box-shadow: none; /* IE 9 */
    -o-box-shadow: none; /* Opera */
}

.navbar-nav.navbar-center > .active > a:hover {
    background-color: inherit;
}

@media only screen and (min-width: 1024px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}

.nav.navbar-nav.navbar-center a,
.nav.navbar-nav.navbar-right a {
    color: #614333;
    text-shadow: none;
    transition: all .5s ease;
    -webkit-transition: all .2s ease; /* Safari and Chrome */
    -moz-transition: all .2s ease; /* Firefox */
    -ms-transition: all .2s ease; /* IE 9 */
    -o-transition: all .2s ease; /* Opera */
}

.nav.navbar-nav.navbar-center a:hover,
.nav.navbar-nav.navbar-right a:hover {
    color: #614333;
    text-shadow: none;
    transform: scale(1.1);
    -webkit-transform: scale(1.1); /* Safari and Chrome */
    -moz-transform: scale(1.1); /* Firefox */
    -ms-transform: scale(1.1); /* IE 9 */
    -o-transform: scale(1.1); /* Opera */
}

.nav.navbar-nav.navbar-right i {
    color: #614333;
    font-size: 20px;
}

/*end of nav bar css*/

.product-details{
    padding-top: 10em;
}

.product-details h4{
    font-family: 'Satisfy', cursive;
    color: #614333;
    font-size: 25px;
}

.product-details p{
    font-family: 'Alegreya', serif;
    color: #614333;
    font-size: 20px;
}

.dropdown button{
    background-image: none;
    font-family: 'Alegreya', serif;
    text-align: center;
    color: #614333;
    padding: 10px 15em;
    font-size: 20px;
    border-radius: 0%;   
    background-color: #F8EEE7;
}

.dropdown-menu{
    margin-right: -20px;
    padding: 1em;
    background-color: #F8EEE7;
    color: #614333;
}

button.btn:hover{
    background-color: #F8EEE7;
}

.dropdown ul{
    border-radius: 0%;
}

p.details{
    text-align: justify;
    font-family: 'Alegreya', serif;
    font-size: 15px;
}

.bs-example{
    margin-top: 4em;
    padding-top: 2em;
}

#myCarousel{
    height: 300px;
    width: 300px;
}

.carousel{
    margin-top: 1em;
    margin-left: 4em;
    margin-bottom: 2em;
}

.carousel .item img{
    height: 300px;
    width: 300px;
}

.details h3{
    font-family: 'Satisfy', cursive;
    color: #614333;
    font-size: 35px;
}

.details hr{
    border-color: #614333;
}

.details p{
    font-family: 'Alegreya', serif;
    color: #614333;
    font-size: 18px;
}

.rev{
    display: inline-block;
}

p.data{
    font-style: italic;
}

p.username{
    font-style: italic;
}

p.descr{
    text-align: justify;
}

a.btn{
    background-image: none;
    font-family: 'Alegreya', serif;
    text-align: center;
    color: #F8EEE7;
    padding: 10px 1em;
    font-size: 20px;
    border-radius: 0%;   
    background-color:#614333; 
}

a.btn:hover{
    color: white;
}