<<<<<<< HEAD
html, body {
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

.navbar {
    background-image: none;
    background-color: #F8EEE7;
    border: none;
    box-shadow: 0px 1px 5px #777; 
    -webkit-box-shadow: 0px 1px 5px #777; /* Safari and Chrome */
    -moz-box-shadow: 0px 1px 5px #777; /* Firefox */
    -ms-box-shadow: 0px 1px 5px #777; /* IE 9 */
    -o-box-shadow: 0px 1px 5px #777; /* Opera */
    margin: 0;
}

.navbar-header .navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #73503C;
    text-shadow: none;
    -webkit-text-shadow: all .2s ease; /* Safari and Chrome */
    -moz-text-shadow: all .2s ease; /* Firefox */
    -ms-text-shadow: all .2s ease; /* IE 9 */
    -o-text-shadow: all .2s ease; /* Opera */
    transition: all .5s ease;
    -webkit-transition: all .2s ease; /* Safari and Chrome */
    -moz-transition: all .2s ease; /* Firefox */
    -ms-transition: all .2s ease; /* IE 9 */
    -o-transition: all .2s ease; /* Opera */
}

.navbar-header .navbar-brand:hover {
    color: #73503C;
    transform: scale(1.1);
    -webkit-transform: scale(1.1); /* Safari and Chrome */
    -moz-transform: scale(1.1); /* Firefox */
    -ms-transform: scale(1.1); /* IE 9 */
    -o-transform: scale(1.1); /* Opera */
}

@media only screen and (max-width: 1024px) {
    .navbar-header .navbar-brand {
        font-size: 20px;
    }
}

.navbar-nav a {
    font-family: 'Satisfy', cursive;
    font-size: 25px;
}

@media only screen and (max-width: 1024px) {
    .navbar-nav a {
        font-size: 20px;
    }
}

.navbar-nav.navbar-center > .active > a {
    background-image: none;
    background-color: inherit;
    box-shadow: none;
    -webkit-box-shadow: none; /* Safari and Chrome */
    -moz-box-shadow: none; /* Firefox */
    -ms-box-shadow: none; /* IE 9 */
    -o-box-shadow: none; /* Opera */
}

.navbar-nav.navbar-center > .active > a:hover {
    background-color: inherit;
}

@media only screen and (min-width: 1024px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}
.nav.navbar-nav.navbar-center a,
.nav.navbar-nav.navbar-right a {
    color: #614333;
    text-shadow: none;
}

@media only screen and (min-width: 768px) {
    .nav.navbar-nav.navbar-center a,
    .nav.navbar-nav.navbar-right a {
        transition: all .5s ease;
        -webkit-transition: all .2s ease; /* Safari and Chrome */
        -moz-transition: all .2s ease; /* Firefox */
        -ms-transition: all .2s ease; /* IE 9 */
        -o-transition: all .2s ease; /* Opera */
    }

    .nav.navbar-nav.navbar-center a:hover,
    .nav.navbar-nav.navbar-right a:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1); /* Safari and Chrome */
        -moz-transform: scale(1.1); /* Firefox */
        -ms-transform: scale(1.1); /* IE 9 */
        -o-transform: scale(1.1); /* Opera */
}
}

.nav.navbar-nav.navbar-center a:hover,
.nav.navbar-nav.navbar-right a:hover {
    color: #614333;
    text-shadow: none;
}

.nav.navbar-nav.navbar-right i {
    color: #614333;
    font-size: 20px;
}

@media only screen and (min-width: 768px) {
    .nav.navbar-nav.navbar-center .navbar-text {
        display: none;
    }

    .nav.navbar-nav.navbar-right .navbar-icon {
        display: inline-block;
    }
}

@media only screen and (max-width: 768px) {
    .nav.navbar-nav.navbar-center .navbar-text {
        display: block;
        margin: 0;
    }

    .nav.navbar-nav.navbar-right .navbar-icon {
        display: none;
    }
}

#mainpage-body {
    margin-top: 50px;
}
.carousel{
    margin-top: 1em;
    margin-left: 4em;
    margin-bottom: 1em;
}
.carousel .item img{
    height: 500px;
    width: 1000px;
}


.bs-example{
    margin-top: 1em;
    padding-top: 2em;
}

#myCarousel{
    height: 500px;
    width: 1000px;
}

.carousel-caption span {
    font-family: 'Pacifico';
    font-size: 50px;
}

@media only screen and (max-width: 580px) {
    .carousel-caption span {
        font-size: 20px;
    }
}


.caption {
    height: 200px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}


/*Footer*/
#footer {
    background-color: #F8EEE7;
}

#SocialMedia {
    text-align: center;
    margin-top: 20px;
}

#SocialMedia i {
    font-size: 40px;
    color: #614333;
    margin: 0px 10px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
}

#SocialMedia i:hover {
    color: #614333;
    transform:scale(1.25);
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
}

#Copyrights {
    color: #614333;
    text-align: center;
    margin-top: 20px;
=======
/*!
 * Start Bootstrap - Shop Homepage (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

html, body {
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

.navbar {
    background-image: none;
    background-color: #F8EEE7;
    border: none;
    box-shadow: 0px 1px 5px #777; 
    -webkit-box-shadow: 0px 1px 5px #777; /* Safari and Chrome */
    -moz-box-shadow: 0px 1px 5px #777; /* Firefox */
    -ms-box-shadow: 0px 1px 5px #777; /* IE 9 */
    -o-box-shadow: 0px 1px 5px #777; /* Opera */
    margin: 0;
}

.navbar-header .navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #73503C;
    text-shadow: none;
    -webkit-text-shadow: all .2s ease; /* Safari and Chrome */
    -moz-text-shadow: all .2s ease; /* Firefox */
    -ms-text-shadow: all .2s ease; /* IE 9 */
    -o-text-shadow: all .2s ease; /* Opera */
    transition: all .5s ease;
    -webkit-transition: all .2s ease; /* Safari and Chrome */
    -moz-transition: all .2s ease; /* Firefox */
    -ms-transition: all .2s ease; /* IE 9 */
    -o-transition: all .2s ease; /* Opera */
}

.navbar-header .navbar-brand:hover {
    color: #73503C;
    transform: scale(1.1);
    -webkit-transform: scale(1.1); /* Safari and Chrome */
    -moz-transform: scale(1.1); /* Firefox */
    -ms-transform: scale(1.1); /* IE 9 */
    -o-transform: scale(1.1); /* Opera */
}

@media only screen and (max-width: 1024px) {
    .navbar-header .navbar-brand {
        font-size: 20px;
    }
}

.navbar-nav a {
    font-family: 'Satisfy', cursive;
    font-size: 25px;
}

@media only screen and (max-width: 1024px) {
    .navbar-nav a {
        font-size: 20px;
    }
}

.navbar-nav.navbar-center > .active > a {
    background-image: none;
    background-color: inherit;
    box-shadow: none;
    -webkit-box-shadow: none; /* Safari and Chrome */
    -moz-box-shadow: none; /* Firefox */
    -ms-box-shadow: none; /* IE 9 */
    -o-box-shadow: none; /* Opera */
}

.navbar-nav.navbar-center > .active > a:hover {
    background-color: inherit;
}

@media only screen and (min-width: 1024px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}
.nav.navbar-nav.navbar-center a,
.nav.navbar-nav.navbar-right a {
    color: #614333;
    text-shadow: none;
}

@media only screen and (min-width: 768px) {
    .nav.navbar-nav.navbar-center a,
    .nav.navbar-nav.navbar-right a {
        transition: all .5s ease;
        -webkit-transition: all .2s ease; /* Safari and Chrome */
        -moz-transition: all .2s ease; /* Firefox */
        -ms-transition: all .2s ease; /* IE 9 */
        -o-transition: all .2s ease; /* Opera */
    }

    .nav.navbar-nav.navbar-center a:hover,
    .nav.navbar-nav.navbar-right a:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1); /* Safari and Chrome */
        -moz-transform: scale(1.1); /* Firefox */
        -ms-transform: scale(1.1); /* IE 9 */
        -o-transform: scale(1.1); /* Opera */
}
}

.nav.navbar-nav.navbar-center a:hover,
.nav.navbar-nav.navbar-right a:hover {
    color: #614333;
    text-shadow: none;
}

.nav.navbar-nav.navbar-right i {
    color: #614333;
    font-size: 20px;
}

@media only screen and (min-width: 768px) {
    .nav.navbar-nav.navbar-center .navbar-text {
        display: none;
    }

    .nav.navbar-nav.navbar-right .navbar-icon {
        display: inline-block;
    }
}

@media only screen and (max-width: 768px) {
    .nav.navbar-nav.navbar-center .navbar-text {
        display: block;
        margin: 0;
    }

    .nav.navbar-nav.navbar-right .navbar-icon {
        display: none;
    }
}

#specialOccasion-body {
    margin-top: 50px;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-top: 30px;
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.carousel-caption span {
    font-family: 'Pacifico';
    font-size: 50px;
}

@media only screen and (max-width: 580px) {
    .carousel-caption span {
        font-size: 20px;
    }
}

#BestSellersTitle {
    color: #614333;
    font-size: 80px;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Satisfy', cursive;
}

@media only screen and (max-width: 580px) {
    #BestSellersTitle {
        font-size: 40px;
    }
}

.caption {
    height: 200px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

#footer {
    background-color: #F8EEE7;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#SocialMedia {
    text-align: center;
    margin-top: 20px;
}

#SocialMedia i {
    font-size: 40px;
    color: #614333;
    margin: 0px 10px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
}

#SocialMedia i:hover {
    color: #614333;
    transform:scale(1.25);
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
}

#Copyrights {
    color: #614333;
    text-align: center;
    margin-top: 20px;
>>>>>>> origin/master
}