#about-body {
    padding-top: 60px;
    padding-bottom: 120px;
}

#AboutImage {
    padding: 10px 0px;
}

#AboutText h1 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    color: #614333;
    font-size: 60px;
}

#AboutText p {
    font-size: 15px;
    text-align: justify;
}

@media(max-width: 768px) {
   #AboutImage {
       display: none;
    }
}