#CheckoutPayment {
    padding-top: 60px;
    min-height: 100%;
    padding-bottom: 130px;
}

#Steps ul li.active a {
    background-color: #F8EEE7;
    color: #614333;
}

#Steps ul li.checked a {
    background-color: white;
    color: #614333;
}

#Steps ul li.checked a:hover {
    background-color: #F8EEE7;
    color: #614333;
}

#CheckoutPayment .panel.panel-info {  
    border: 1px solid #f2e0d3;
}

#CheckoutPayment .panel-heading {
    background-image: linear-gradient(to bottom,#F8EEE7 0,#f2e0d3 100%);
    background-image: -o-linear-gradient(to bottom,#F8EEE7 0,#f2e0d3 100%);
    background-image: -moz-linear-gradient(to bottom,#F8EEE7 0,#f2e0d3 100%);
    background-image: -webkit-linear-gradient(to bottom,#F8EEE7 0,#f2e0d3 100%);
    background-color: #F8EEE7;
    border-bottom: 1px solid #f2e0d3;
    color: #614333;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    padding: 5px;
    padding-left: 20px;
}

#CheckoutPayment .panel-heading .fa {
    margin-right: 15px;
}

#CheckoutPayment .panel-heading .pull-right a {
    color: #614333;
    font-size: 20px;
    transition: all .5s ease;
    -webkit-transition: all .2s ease; /* Safari and Chrome */
    -moz-transition: all .2s ease; /* Firefox */
    -ms-transition: all .2s ease; /* IE 9 */
    -o-transition: all .2s ease; /* Opera */
}

#CheckoutPayment .panel-heading .pull-right a:hover {
    color: #614333;
    text-decoration: none;
    font-size: 22px;
}