html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    padding-top: 70px;
    min-height: 100%;
    padding-bottom: 120px;
}

.panel.panel-default {
    border: 1px solid #f2e0d3;
    font-size: 15px;
    background-color: white;
    border-color: none;
}

.panel-default > .panel-heading {
    padding: 5px 15px;
    font-family: 'Satisfy', cursive;
    text-align: center;
    color: #614333;
    font-size: 25px;
    background-image: linear-gradient(to bottom,#F8EEE7 0,#f2e0d3 100%);
    background-image: -o-linear-gradient(to bottom,#F8EEE7 0,#f2e0d3 100%);
    background-image: -moz-linear-gradient(to bottom,#F8EEE7 0,#f2e0d3 100%);
    background-image: -webkit-linear-gradient(to bottom,#F8EEE7 0,#f2e0d3 100%);
    background-color: #F8EEE7;
    border: none;
}

.panel-default > .panel-body {
    padding: 10% 10% 5% 10%;
}

.panel a {
   color: #614333;
   font-size: 20px;
}

textarea {
   resize: none;
}

.wrongAnswer {
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
}

.rightAnswer {
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 255, 0, 0.6);
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 255, 0, 0.6);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 255, 0, 0.6);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 255, 0, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 255, 0, 0.6);
}

.contacts {
    font-size: 15px;
    text-align: center;
}

.contacts h2 {
    font-family: 'Satisfy', cursive;
    color: #614333;
    font-size: 50px;
    margin-bottom: 20px;
}

.contacts strong {
    color: #614333;
}

.contacts a {
    color: inherit;
}

.contacts a:hover {
    text-decoration: none;
}

#emailForm small {
    color: red;
}

.sendEmail {
    animation: sendEmail;
    animation-duration: .5s;
    animation-timing-function: linear;
}

@keyframes sendEmail {
    0% {
        transform: translateY(0px);
    }
    10% {
        transform: translateY(20px);
    }
    100% {
      transform: translateY(-1000px);
    }
    
}

.fadeAndScale {
    animation: fadeAndScale;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes fadeAndScale {
   0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
        transform: scale(1.0);
        opacity: 1;
    }
}

#sendEmail {
    border: none;
    background: none;
    color: #614333;
    font-size: 25px; 
    transition: all .5s ease;
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
}

#sendEmail:hover {
    transform:scale(1.1);
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */   
}