/* Navbar */
.screenreader { 
   clip: rect(1px, 1px, 1px, 1px); 
   height: 1px; 
   width: 1px; 
   overflow: hidden; 
   position: absolute !important;
}

html, body {
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

.navbar {
    background-image: none;
    background-color: #F8EEE7;
    border: none;
    box-shadow: 0px 1px 5px #777;
    -webkit-box-shadow: 0px 1px 5px #777; /* Safari and Chrome */
    -moz-box-shadow: 0px 1px 5px #777; /* Firefox */
    -ms-box-shadow: 0px 1px 5px #777; /* IE 9 */
    -o-box-shadow: 0px 1px 5px #777; /* Opera */
    margin: 0;
}

.navbar-header .navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #73503C;
    text-shadow: none;
    -webkit-text-shadow: all .2s ease; /* Safari and Chrome */
    -moz-text-shadow: all .2s ease; /* Firefox */
    -ms-text-shadow: all .2s ease; /* IE 9 */
    -o-text-shadow: all .2s ease; /* Opera */
    transition: all .5s ease;
    -webkit-transition: all .2s ease; /* Safari and Chrome */
    -moz-transition: all .2s ease; /* Firefox */
    -ms-transition: all .2s ease; /* IE 9 */
    -o-transition: all .2s ease; /* Opera */
}

.navbar-header .navbar-brand:hover {
    color: #73503C;
    transform: scale(1.1);
    -webkit-transform: scale(1.1); /* Safari and Chrome */
    -moz-transform: scale(1.1); /* Firefox */
    -ms-transform: scale(1.1); /* IE 9 */
    -o-transform: scale(1.1); /* Opera */
}

@media only screen and (max-width: 1024px) {
    .navbar-header .navbar-brand {
        font-size: 20px;
    }
}

.navbar-nav a {
    font-family: 'Satisfy', cursive;
    font-size: 25px;
}

@media only screen and (max-width: 1024px) {
    .navbar-nav a {
        font-size: 20px;
    }
}

.navbar-nav.navbar-center > .active > a {
    background-image: none;
    background-color: inherit;
    box-shadow: none;
    -webkit-box-shadow: none; /* Safari and Chrome */
    -moz-box-shadow: none; /* Firefox */
    -ms-box-shadow: none; /* IE 9 */
    -o-box-shadow: none; /* Opera */
}

.navbar-nav.navbar-center > .active > a:hover {
    background-color: inherit;
}

@media only screen and (min-width: 1024px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}

.nav.navbar-nav.navbar-center a,
.nav.navbar-nav.navbar-right a {
    color: #614333;
    text-shadow: none;
}

@media only screen and (min-width: 768px) {
    .nav.navbar-nav.navbar-center a,
    .nav.navbar-nav.navbar-right a,
    .nav.navbar-nav.navbar-right .dropdown i{
        transition: all .2s ease;
        -webkit-transition: all .2s ease; /* Safari and Chrome */
        -moz-transition: all .2s ease; /* Firefox */
        -ms-transition: all .2s ease; /* IE 9 */
        -o-transition: all .2s ease; /* Opera */
    }

    .nav.navbar-nav.navbar-center a:hover,
    .nav.navbar-nav.navbar-right a:hover,
    .nav.navbar-nav.navbar-right .dropdown i:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1); /* Safari and Chrome */
        -moz-transform: scale(1.1); /* Firefox */
        -ms-transform: scale(1.1); /* IE 9 */
        -o-transform: scale(1.1); /* Opera */
    }
}

.nav.navbar-nav.navbar-center a:hover,
.nav.navbar-nav.navbar-right a:hover {
    color: #614333;
    text-shadow: none;
}

.nav.navbar-nav.navbar-right i {
    color: #614333;
    font-size: 20px;
}

@media only screen and (min-width: 768px) {
    .nav.navbar-nav.navbar-center .navbar-text {
        display: none;
    }

    .nav.navbar-nav.navbar-right .navbar-icon {
        display: inline-block;
    }
}

@media only screen and (max-width: 768px) {
    .nav.navbar-nav.navbar-center .navbar-text {
        display: block;
        margin: 0;
    }

    .nav.navbar-nav.navbar-right .navbar-icon {
        display: none;
    }
}

.nav.navbar-nav.navbar-right .dropdown i {
    padding: 15px 15px;
    cursor: pointer;
}

#myNavbar .dropdown-menu {
    min-width: 0px;
    border: 1px solid #f2e0d3;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease;
    -webkit-transition: all 1 ease; /* Safari and Chrome */
    -moz-transition: all 1 ease; /* Firefox */
    -ms-transition: all 1 ease; /* IE 9 */
    -o-transition: all 1 ease; /* Opera */
    transform: translateX(25%);
    -webkit-transform: -webkit-translateX(25%); /* Safari and Chrome */
    -moz-transform: -moz-translateX(25%); /* Firefox */
    -ms-transform: -ms-translateX(25%); /* IE 9 */
    -o-transform: -o-translateX(25%); /* Opera */
    background: none;
}

#myNavbar .open > .dropdown-menu {
    visibility: visible;
    background-color: white;
}

.opened {
    animation-name: dropdownIn;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.closed {
    animation-name: dropdownOut;
    animation-duration: 0.2s;
    animation-timing-function: linear;
}

@keyframes dropdownIn {
    0% {
        transform: translate(25%, -20px);
        opacity: 0;
    }
    50 {
        transform: translate(25%, -10px);
        opacity: 0;
    }
    100% {
        transform: translate(25%, 5px);
        opacity: 1;
    }
}

@keyframes dropdownOut {
    0% {
        transform: translate(25%, 5px);
        opacity: 1;
    }
    50 {
        transform: translate(25%, -10px);
        opacity: 0;
    }
    100% {
        transform: translate(25%, -20px);
        opacity: 0;
    }
}

#myNavbar .dropdown-menu li a {
    color: #614333;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

#myNavbar .open > #dropdown li a:active,
#myNavbar .open > #dropdown li a:hover,
#myNavbar .open > #dropdown li a:visited,
#myNavbar .open > #dropdown li a:focus,
#myNavbar .open > #dropdown li a:link
{
    background: none !important;
    background-image: none !important;
    transform: scale(1.0);
    -webkit-transform: scale(1.0); /* Safari and Chrome */
    -moz-transform: scale(1.0); /* Firefox */
    -ms-transform: scale(1.0); /* IE 9 */
    -o-transform: scale(1.0); /* Opera */
}

#searchButton {
    cursor: pointer;
}

#searchInput {
    direction: rtl;
    padding-top: 15px;
}

#searchInput > input {
    text-align: left;
    opacity: 0;
    width: 0px;
    transition: all 1s ease;
    -webkit-transition: all 1 ease; /* Safari and Chrome */
    -moz-transition: all 1 ease; /* Firefox */
    -ms-transition: all 1 ease; /* IE 9 */
    -o-transition: all 1 ease; /* Opera */
}

.not-popup {
    transition: all .25s linear;
    -webkit-transition: all .25s linear; /* Safari and Chrome */
    -moz-transition: all .25s linear; /* Firefox */
    -ms-transition: all .25s linear; /* IE 9 */
    -o-transition: all .25s linear; /* Opera */
}

/* End of Navbar */
