@import url("popupDialog.css");

.ratings p div.rating-container{
    display: inline;
}

.rating-container{
    text-align: right;
}

#writeReviewComment {
    resize: none;
}

#productWrapper {
    padding-top: 60px;
    min-height: 100%;
    padding-bottom: 130px;
}

.product-details {
    margin-top: 60px;
}

.product-details h4{
    font-family: 'Satisfy', cursive;
    color: #614333;
    font-size: 25px;
}

.product-details p{
    font-family: 'Alegreya', serif;
    color: #614333;
    font-size: 20px;
}

p.details{
    text-align: justify;
    font-family: 'Alegreya', serif;
    font-size: 15px;
}

.bs-example{
    padding-top: 2em;
}

#myCarousel{
    height: 300px;
    width: 300px;
}

.carousel{
    margin-top: 1em;
    margin-left: 4em;
    margin-bottom: 2em;
}

.carousel .item img{
    height: 300px;
    width: 300px;
}

.details h3{
    font-family: 'Satisfy', cursive;
    color: #614333;
    font-size: 35px;
}

.details hr{
    border-color: #614333;
}

.details p{
    font-family: 'Alegreya', serif;
    color: #614333;
    font-size: 18px;
}

.rev{
    display: inline-block;
}

p.data{
    font-style: italic;
}

p.username{
    font-style: italic;
}

p.descr{
    text-align: justify;
}

a.btn {
    background-image: none;
    font-family: 'Alegreya', serif;
    text-align: center;
    color: #F8EEE7;
    padding: 10px 1em;
    font-size: 20px;
    border-radius: 0%;   
    background-color:#614333; 
}

a.btn:hover{
    color: white;
}

#Images.row {
    padding: 0px 15px;
}

#Images.row > div {
    padding: 0px 10px;
}

#Images .panel.panel-info {
    height: 150px;
}

#Images div {
    padding: 0;
}

#editProduct {
    cursor: pointer;
}

#reviewsContainer i {
    cursor: pointer;
}

#editImages > div {
    margin: 5px 0px;
    padding: 5px;
}

#editImages i {
    color: #614333;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateX(50px);
    transition: all .5s ease;
    -webkit-transition: all .2s linear; /* Safari and Chrome */
    -o-transition: all .2s linear; /* Opera */
    -moz-transition: all .2s ease; /* Firefox */
    -ms-transition: all .2s ease; /* IE 9 */
    cursor: pointer;
}

#editImages i:hover {
    transform: translateX(-50%) translateX(50px) scale(1.2);
    -webkit-transform: translateX(-50%) translateX(50px) scale(1.2); /* Safari and Chrome */
    -o-transform: translateX(-50%) translateX(50px) scale(1.2); /* Opera */
    -moz-transform: translateX(-50%) translateX(50px) scale(1.2); /* Firefox */
    -ms-transform: translateX(-50%) translateX(50px) scale(1.2); /* IE 9 */
}

#editImages > div img {
    display: block;
    margin: auto;
    height: 130px;
    width: 130px;
    box-shadow: 0px 0px 0px 5px #F8EEE7, 0px 0px 0px 6px #f2e0d3;
}

#insideAddNewImage {
    display: block;
    margin: auto;
    height: 144px;
    width: 144px;
    background-color: #F8EEE7;
    border: 1px solid #f2e0d3;
    transition: all .5s ease;
    -webkit-transition: all .2s linear; /* Safari and Chrome */
    -o-transition: all .2s linear; /* Opera */
    -moz-transition: all .2s ease; /* Firefox */
    -ms-transition: all .2s ease; /* IE 9 */
    cursor: pointer;
}

#insideAddNewImage:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1); /* Safari and Chrome */
    -o-transform: scale(1.1); /* Opera */
    -moz-transform: scale(1.1); /* Firefox */
    -ms-transform: scale(1.1); /* IE 9 */
}

#addNewImage i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
}

#addNewImage i:hover {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); /* Safari and Chrome */
    -o-transform: translate(-50%, -50%); /* Opera */
    -moz-transform: translate(-50%, -50%); /* Firefox */
    -ms-transform: translate(-50%, -50%); /* IE 9 */
}

@media screen and (max-width: 768px) {
    #editImages > div img {
        height: 200px;
        width: 200px;
    }
    #editImages i {
        transform: translateX(-50%) translateX(85px); 
    }
    
    #insideAddNewImage {
        height: 214px;
        width: 214px;
    }
    
    #addNewImage i {
        transform: translate(-50%, -50%);
    }
    
    #insideAddNewImage:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1); /* Safari and Chrome */
        -o-transform: scale(1.1); /* Opera */
        -moz-transform: scale(1.1); /* Firefox */
        -ms-transform: scale(1.1); /* IE 9 */
    }
    
    #addNewImage i:hover {
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%); /* Safari and Chrome */
        -o-transform: translate(-50%, -50%); /* Opera */
        -moz-transform: translate(-50%, -50%); /* Firefox */
        -ms-transform: translate(-50%, -50%); /* IE 9 */
    }
}

#newImage {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}