#ProductsContent {
    margin-top: 60px;
}

.list-group{
    font-family: 'Pacifico', cursive;
    font-size:18px;
    padding-top: 2px;
    margin-left: -5em;
}

.dropdown button {
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    text-align: center;
    color: #614333;
    text-decoration: none;
    padding: 0;
    background-image: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
}

.dropdown button:hover {
    background-image: none;
    background-color: transparent;
    color: #614333;
}

toggle.btn-primary:focus, .open > .dropdown-toggle.btn-link:hover {
    background-image: none;
    background-color: transparent;
    color: #614333;
}

.btn-primary:focus, .open > .dropdown-toggle.btn-link {
    background-image: none;
    background-color: transparent;
    color: #614333;
}



.dropdown ul {
    font-family: 'Pacifico', cursive;
    font-size:18px;
    background-color: #F8EEE7;
    color: #614333;
}

.list-group-item{
    font-family: 'Pacifico', cursive;
    font-size:18px;
    padding-top: 2em;
    margin-right: 4em;
    border-color:white;
    text-align: center;
    color: #614333;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-top: 30px;
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

#Products h4 {
    text-align: center;
}

#Products > div {
    transition: all .5s ease;
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
}

#Products > div:hover {
    transition: all .5s ease;
    transform:scale(1.25);
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
    cursor: pointer;
}

#Products h4 a {
    color: #614333;
}

#Products h4 a:hover {
   text-decoration: none;
}

.ratings {
    color: #bd9128;
}

#footer {
    background-color: #F8EEE7;
}

#SocialMedia {
    text-align: center;
    margin-top: 20px;
}

#SocialMedia i {
    font-size: 40px;
    color: #614333;
    margin: 0px 10px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
}

#SocialMedia i:hover {
    color: #614333;
    transform: scale(1.25);
    -webkit-transform: scale(1.25); /* Safari and Chrome */
    -moz-transform: scale(1.25); /* Firefox */
    -ms-transform: scale(1.25); /* IE 9 */
    -o-transform: scale(1.25); /* Opera */
}

#Copyrights {
    color: #614333;
    text-align: center;
    margin-top: 20px;
}