#Steps {
    margin-top: 60px;
}

#Steps ul li.active a {
    background-color: #F8EEE7;
    color: #614333;
}

#Steps ul li.checked a {
    background-color: white;
    color: #614333;
}

#Steps ul li.checked a:hover {
    background-color: #F8EEE7;
    color: #614333;
}

#CheckoutReceipt #thank-you {
    text-align: center;
    color: #614333;
    font-family: 'Satisfy', cursive;
    font-size: 50px;
}

#CheckoutReceipt .well {
    background-image: none;
    border: 2px solid #F8EEE7;
    background-color: white;
    box-shadow: 0px 1px 5px #eee; 
    -webkit-box-shadow: 0px 1px 5px #eee; /* Safari and Chrome */
    -moz-box-shadow: 0px 1px 5px #eee; /* Firefox */
    -ms-box-shadow: 0px 1px 5px #eee; /* IE 9 */
    -o-box-shadow: 0px 1px 5px #eee; /* Opera */
}

@media(max-width: 768px) {
    #CheckoutReceipt .well {
        margin: 0;
        border-left: none;
        border-right: none;
    }
}

#CheckoutReceipt h1 {
    color: #614333;
    font-family: 'Satisfy', cursive;
}

#CheckoutReceipt thead {
    font-size: 20px;
    color: #614333;
    font-family: 'Satisfy', cursive;
}

@media(max-width: 320px) {
    #CheckoutReceipt thead {
        font-size: 15px;
    }

    #CheckoutReceipt tbody {
        font-size: 10px;
    }
}