html, body {
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

.wrongAnswer {
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
}

.rightAnswer {
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 255, 0, 0.6);
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 255, 0, 0.6);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 255, 0, 0.6);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 255, 0, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 255, 0, 0.6);
}

.spinner {
    background-color: #eee;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateY(-50%); 
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 2000;
    visibility: hidden;
}

.spinner:after, .spinner:before {
    content: '';
    background-color: transparent;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    position: absolute;
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.spinner:after {
    top: -2px;
    border: 2px solid transparent;
    border-top-color: #614333;
}

.spinner:before {
    bottom: -2px;
    border: 2px solid transparent;
    border-bottom-color: #614333;
}

@keyframes spin {
    0% { 
        transform: rotate(0deg) scale(1.0);
    }
    50% { 
        transform: rotate(45deg) scale(1.2);
    }
    100% { 
        transform: rotate(360deg) scale(1.0);
    }
}

#wrapper {
    padding-top: 100px;
    min-height: 100%;
    padding-bottom: 120px;
}

div.register-first-name {
    padding-right: 5px; 
}

div.register-last-name {
    padding-left: 5px; 
}

.panel-login {
    border-color: #F8EEE7;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login > .panel-heading {
	color: #F8EEE7;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}

.panel-login > .panel-heading a {
	text-decoration: none;
    font-family: 'Satisfy', cursive;
	color: #614333;
	font-size: 20px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.panel-login > .panel-heading a.active {
    background-color: #F8EEE7;
    outline: 0;
}

.panel-login > .panel-heading a:hover {
    background-color: #F8EEE7;
    outline: 0;
}


.panel-login > .panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #F8EEE7;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.btn-login {
    font-family: 'Satisfy', cursive;
	background-color:#F8EEE7 ;
	outline: none;
	color: #73503C;
	font-size: 20px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	border-color: #F8EEE7;
}

.btn-login:hover,
.btn-login:focus {
	color: #73503C;
	background-color: #F8EEE7;
	border-color: #F8EEE7;
}

.forgot-password {
	text-decoration: underline;
	color: #73503C;
}

.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #73503C;
}

.form-group span {
    font-size: 12px;
}

.btn-register {
    font-family: 'Satisfy', cursive;

	background-color: #F8EEE7;
	outline: none;
	color: #73503C;
	font-size: 20px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	border-color: #F8EEE7;
}

.btn-register:hover,
.btn-register:focus {
	color: #73503C;
	background-color: #F8EEE7;
	border-color: #F8EEE7;
}