.clear-fix {
    clear: both;
    display: block;
}

html, body {
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

#dashboard {
    min-height: 100%;
    padding-top: 80px;
    padding-bottom: 120px;
}

.panel-primary {
    transition: all .5s ease;
    -webkit-transition: all .2s ease; /* Safari and Chrome */
    -moz-transition: all .2s ease; /* Firefox */
    -ms-transition: all .2s ease; /* IE 9 */
    -o-transition: all .2s ease; /* Opera */
    border: 1px solid #f2e0d3;
}

.panel-primary:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03); /* Safari and Chrome */
    -moz-transform: scale(1.03); /* Firefox */
    -ms-transform: scale(1.03); /* IE 9 */
    -o-transform: scale(1.03); /* Opera */
    box-shadow: 0px 1px 4px #ddd;
    -webkit-box-shadow: 0px 1px 4px #ddd; /* Safari and Chrome */
    -moz-box-shadow: 0px 1px 4px #ddd; /* Firefox */
    -ms-box-shadow: 0px 1px 4px #ddd; /* IE 9 */
    -o-box-shadow: 0px 1px 4px #ddd; /* Opera */
}

.panel-primary > .panel-heading {
    color: #614333;
    border-color: #F8EEE7;
    background-color: #F8EEE7;
    background-image: none;
}

.panel-primary > a {
    color: #F8EEE7;
}

.panel-primary > a:hover {
    color: #59323C;
}

#addAddressResponsePopUp {
    z-index: 2000;
    transition: all .1s ease;
    -webkit-transition: all .1s linear; /* Safari and Chrome */
    -o-transition: all .1s linear; /* Opera */
    -moz-transition: all .1s ease; /* Firefox */
    -ms-transition: all .1s ease; /* IE 9 */
}

.spinner {
    background-color: #eee;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 2000;
    visibility: hidden;
}

.spinner:after, .spinner:before {
    content: '';
    background-color: transparent;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    position: absolute;
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.spinner:after {
    top: -2px;
    border: 2px solid transparent;
    border-top-color: #614333;
}

.spinner:before {
    bottom: -2px;
    border: 2px solid transparent;
    border-bottom-color: #614333;
}

@keyframes spin {
    0% {
        transform: rotate(0deg) scale(1.0);
    }
    50% {
        transform: rotate(45deg) scale(1.2);
    }
    100% {
        transform: rotate(360deg) scale(1.0);
    }
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-content {
    box-shadow: none;
    -webkit-box-shadow: none; /* Safari and Chrome */
    -moz-box-shadow: none; /* Firefox */
    -ms-box-shadow: none; /* IE 9 */
    -o-box-shadow: none; /* Opera */
    border-radius: 10px;
    -webkit-border-radius: 10px; /* Safari and Chrome */
    -o-border-radius: 10px; /* Opera */
    -moz-border-radius: 10px; /* Firefox */
    -ms-border-radius: 10px; /* IE 9 */
}

.modal-content .modal-header {
    background-image: linear-gradient(to bottom,#F8EEE7 0,#f2e0d3 100%);
    background-image: -o-linear-gradient(to bottom,#F8EEE7 0,#f2e0d3 100%);
    background-image: -moz-linear-gradient(to bottom,#F8EEE7 0,#f2e0d3 100%);
    background-image: -webkit-linear-gradient(to bottom,#F8EEE7 0,#f2e0d3 100%);
    background-color: #F8EEE7;
    border-bottom: 1px solid #f2e0d3;
    padding: 10px;
    box-shadow: 0px 2px 5px #ddd;
    -webkit-box-shadow: 0px 2px 5px #ddd; /* Safari and Chrome */
    -moz-box-shadow: 0px 2px 5px #ddd; /* Firefox */
    -ms-box-shadow: 0px 2px 5px #ddd; /* IE 9 */
    -o-box-shadow: 0px 2px 5px #ddd; /* Opera */
}

.modal-content h4 {
    color: #614333;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    text-align: center;
}

.modal-content label {
    color: #614333;
}

#addAddressResponse {
    color: #614333;
    float: left;
}

.add-address-buttons {
    overflow: hidden;
}

.add-address-buttons button {
    float: right;
    margin: 5px;
}

.add-address-buttons hr {
    border-top: 1px solid #f2e0d3;
	text-align: center;
}

.add-address-buttons hr:before {
    content: '§';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: white;
    color: #f2e0d3;
    font-size: 18px;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
}

.fade {
    transform: scale(2);
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    -moz-transform: scale(2); /* Firefox */
    -ms-transform: scale(2); /* IE 9 */
    opacity: 0;
    transition: all .5s ease;
    -webkit-transition: all .5s linear; /* Safari and Chrome */
    -o-transition: all .5s linear; /* Opera */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    background: transparent;
}

.fade.in {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1); /* Safari and Chrome */
    -o-transform: scale(1); /* Opera */
    -moz-transform: scale(1); /* Firefox */
    -ms-transform: scale(1); /* IE 9 */
}

.wrongAnswer {
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
}

.rightAnswer {
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 255, 0, 0.6);
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 255, 0, 0.6);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 255, 0, 0.6);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 255, 0, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 255, 0, 0.6);
}

form .btn.btn-default {
    background-image: none;
    background-color: #F8EEE7;
    border: 1px solid #f2e0d3;
    color: #888;
    transition: all .3s ease;
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -ms-transition: all .3s ease; /* IE 9 */
    -o-transition: all .3s ease; /* Opera */
}

form .btn.btn-default:hover {
    color: #59323C;
}

#EditProfile .panel.panel-info {
    border: 1px solid #f2e0d3;
}

#EditProfile .panel-heading {
    background-image: linear-gradient(to bottom,#F8EEE7 0,#f2e0d3 100%);
    background-image: -o-linear-gradient(to bottom,#F8EEE7 0,#f2e0d3 100%);
    background-image: -moz-linear-gradient(to bottom,#F8EEE7 0,#f2e0d3 100%);
    background-image: -webkit-linear-gradient(to bottom,#F8EEE7 0,#f2e0d3 100%);
    background-color: #F8EEE7;
    border-bottom: 1px solid #f2e0d3;
    color: #614333;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    padding: 5px;
    padding-left: 20px;
}

#EditProfile .panel-heading .pull-right {
    padding-right: 10px;
}

#EditProfile .panel-heading .pull-right a {
    color: #614333;
    font-size: 20px;
    transition: all .5s ease;
    -webkit-transition: all .2s ease; /* Safari and Chrome */
    -moz-transition: all .2s ease; /* Firefox */
    -ms-transition: all .2s ease; /* IE 9 */
    -o-transition: all .2s ease; /* Opera */
}

#EditProfile .panel-heading .pull-right a:hover {
    color: #614333;
    text-decoration: none;
    font-size: 22px;
}

#Addresses.row {
    padding: 0px 15px;
}

#Addresses.row > div {
    padding: 0px 10px;
}

#Addresses .panel.panel-info {
    height: 150px;
}

#Addresses div {
    padding: 0;
}

#Addresses div.panel-heading {
    padding-left: 20px;
    padding-top: 10px;
    margin: 0;
}

#Addresses div.panel-heading i {
    color: #614333;
    transition: all .5s ease;
    -webkit-transition: all .2s ease; /* Safari and Chrome */
    -moz-transition: all .2s ease; /* Firefox */
    -ms-transition: all .2s ease; /* IE 9 */
    -o-transition: all .2s ease; /* Opera */
}

#Addresses div.panel-heading i:hover {
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1); /* Safari and Chrome */
    -moz-transform: scale(1.1); /* Firefox */
    -ms-transform: scale(1.1); /* IE 9 */
    -o-transform: scale(1.1); /* Opera */
}

#Addresses .address-label {
    color: #614333;
}

#Addresses .panel-body .row {
    padding-left: 5px;
}

#Addresses .panel-body .address-content {
    padding-left: 10px;
}

#Addresses div.add-address {
    background-color: #F8EEE7;
    transition: all .5s ease;
    -webkit-transition: all .2s ease; /* Safari and Chrome */
    -moz-transition: all .2s ease; /* Firefox */
    -ms-transition: all .2s ease; /* IE 9 */
    -o-transition: all .2s ease; /* Opera */
    font-size: 60px;
    color: #bbb;
    text-align: center;
}

#Addresses div.add-address i {
    opacity: 0.4;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#Addresses div.add-address:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); /* Safari and Chrome */
    -moz-transform: scale(1.05); /* Firefox */
    -ms-transform: scale(1.05); /* IE 9 */
    -o-transform: scale(1.05); /* Opera */
    box-shadow: 0px 1px 4px #ddd;
    -webkit-box-shadow: 0px 1px 4px #ddd; /* Safari and Chrome */
    -moz-box-shadow: 0px 1px 4px #ddd; /* Firefox */
    -ms-box-shadow: 0px 1px 4px #ddd; /* IE 9 */
    -o-box-shadow: 0px 1px 4px #ddd; /* Opera */
    cursor: pointer;
}

#Addresses div.panel-body {
    padding: 20px;
    margin: 0;
}